@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    line-height: 1.6;
    color: black;
}

h1, h2, h3 {
    font-weight: 300;
    line-height: 1.2;
}

img {
    width: 100%;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* Navbar */

.navbar {
    height: 70px;
}

.navbar .flex {
    justify-content: space-between;
}

.navbar ul {
    display: flex;
}

.navbar a {
    padding: 5px;
    margin: 5px;
    color: #fff;
}

.navbar a:hover {
    border-bottom: 2px solid #fff;
}

/* Showcase */

.showcase {
    height: 400px;
    position: relative;
}

.showcase-text {
    animation: slideInFromLeft 1s ease-in;
}

.showcase-form {
    top: 60px;
    height: 350px;
    width: 300px;
    position: relative;
    justify-self: flex-end;
    z-index: 100;
    animation: slideInFromRight 1s ease-in;
}

.form-control {
    padding: 20px 0;
    margin: 10px 0;
}

.showcase-form input[type='text'],
.showcase-form input[type='number'],
.showcase-form input[type='email'] {
    border: 0;
    border-bottom: 1px solid #b4becb;
    padding-bottom: 3px;
    font-size: 1rem;
    width: 100%;
}

.showcase .grid {
    grid-template-columns: 55% 45%;
    gap: 30px;
}

.showcase-form input:focus {
    outline: 0;
}

.showcase h3 {
    font-weight: bold;
}

.showcase::after {
    content: '';
    height: 100px;
    right: 0;
    left: 0;
    position: absolute;
    background-color: #fff;
    transform: skewY(-3deg);
}

/* Stats */

.stats {
    padding-top: 100px;
    animation: slideInFromBottom 1s ease-in;
}

.stats p {
    font-weight: bold;
}

.stats h3 {
    padding-top: 10px;
}

.stats-heading {
    max-width: 500px;
    margin: auto;
    text-align: center;
    font-weight: bold;
    padding-bottom: 3rem;
}

/* Cli */

.cli .card1 {
    background-color: var(--dark-color);
    color: #fff;
}

.cli .card2 {
    background-color: var(--light-color);
    color: #333;
}

.cli .card3 {
    background-color: var(--light-color);
    color: #333;
}

.cli .card {
    height: 90px;
    width: 400px;
}

.cli .grid >*:first-child {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}

/* Cloud */

.cloud img {
    margin-left: 100px;
    border-radius: 15px;
}

/* Languages */

.languages-heading {
    font-weight: bold;
}

.languages img {
    height: 110px;
    width: 90px;
}

.languages .card h3 {
    padding: 10px 0;
}

.languages .flex {
    flex-wrap: wrap;
}

.languages .card:hover {
    transform: translateY(-15px);
}

.languages .container {
    max-width: 1400px;
}

/* Footer */

.footer {
    height: 150px;
}

.footer a {
    color: #fff;
}

.footer i {
    padding: 5px;
}

/* About */

.about-head img {
    width: 450px;
    justify-self: flex-end;
    border-radius: 15px;
}

.about-body img {
    width: 450px;
    justify-self: flex-end;
    border-radius: 15px;
}

.about-card .grid > *:first-child {
    grid-column: 1 / span 3;
}

.about-card .grid > *:nth-child(2) {
    grid-column: 1 / span 2;
}

.about-card .card > i {
    margin-right: 20px;
}

.about-card .card {
    justify-content: flex-start;
    text-align: left;
}

.about-card p {
    font-weight: bold;
}

.about-card h2 {
    padding-bottom: 3rem;
}

.about-card .card {
    background-color: #f4f4f4;
}

/* Contact */

.contact-head img {
    width: 450px;
    justify-self: flex-end;
    border-radius: 15px;
}

.contact-card .grid {
    grid-template-columns: 1fr 2fr;
}

.contact-card .line1 {
    padding-bottom: 3px;
    margin-bottom: 10px;
    border-bottom: 1px solid #b4becb;
}

.contact-card h2 {
    padding-bottom: 1rem;
}

.contact-card h2, h3 {
    font-weight: bold;
}

.contact-card .flex {
    justify-content: flex-start;
}

/* Alert */

.alert {
    padding: 5px 10px;
    background-color: #b4becb;
}

.alert i {
    margin: 0 10px;
}

.alert-success {
    border-radius: 3px;
    background-color: green;
    color: #fff;
}

pre, code {
    margin: 5px 0;
    padding: 5px;
    background-color: #333;
    color: #fff;
}

/* Tablet and under */

@media (max-width: 768px) {
    .showcase .grid,
    .stats .grid,
    .cli .grid,
    .cloud .grid,
    .about-head .grid,
    .about-body .grid,
    .about-card .grid,
    .contact-head .grid,
    .contact-card .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .showcase {
        height: auto;
    }

    .showcase-text {
        text-align: center;
        animation: slideInFromTop 1s ease-in;
    }

    .showcase-form {
        justify-self: center;
        animation: slideInFromBottom 1s ease-in;
    }

    .cli .grid >*:first-child {
        grid-column: 1;
        grid-row: 1;
        justify-self: center;
    }

    .cli .grid >*:nth-child(2) {
        grid-column: 1;
        grid-row: 1;
        justify-self: center;
    }

    .cli .grid >*:nth-child(3) {
        grid-column: 1;
        grid-row: 1;
        justify-self: center;
    }

    .cloud img {
        margin: auto;
        padding-top: 3px;
    }

    .footer i {
        padding: 3px;
    }

    .about-head img,
    .about-body img {
        justify-self: center;
        margin: auto;
    }

    .about-card .grid >*:first-child {
        grid-column: 1;
        grid-row: 1;
        justify-self: center;
    }

    .about-card .grid >*:nth-child(2) {
        grid-column: 1;
        grid-row: 2;
        justify-self: center;
    }

    .about-card .grid >*:nth-child(3) {
        grid-column: 1;
        grid-row: 3;
        justify-self: center;
    }

    .about-card .grid >*:nth-child(4) {
        grid-column: 1;
        grid-row: 4;
        justify-self: center;
    }

    .about-card .grid >*:nth-child(5) {
        grid-column: 1;
        grid-row: 5;
        justify-self: center;
    }

    .about-card .grid >*:nth-child(6) {
        grid-column: 1;
        grid-row: 6;
        justify-self: center;
    }

    .about-card .card {
        width: 350px;
        height: 140px;
    }

    .about-head .text1 {
        text-align: center;
    }

    .about-body .text2 {
        text-align: center;
    }

    .contact-head .docs {
        text-align: center;
    }

    .contact-head img {
        justify-self: center;
        margin: auto;
    }

    .contact-card .line1 {
        width: 250px;
    }

    .contact-card .line2 {
        width: 400px;
    }

    .contact-card .grid >*:first-child {
        grid-column: 1;
        grid-row: 1;
        justify-self: center;
    }

    .contact-card .grid >*:nth-child(2) {
        grid-column: 1;
        grid-row: 2;
        justify-self: center;
    }

}

/* Mobile */

@media (max-width: 500px) {
    .navbar {
        height: 110px;
    }

    .navbar .flex {
        flex-direction: column;
    }

    .navbar h3 {
        text-align: center;
    }

    .navbar ul {
        padding: 10px 20px;
        background-color: rgba(0, 0, 0, 0.1);
    }
}

/* Animatins */

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateX(0);
    }
}